name: Deploy Storybook

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  pages: write # to deploy to Pages
  contents: read
  id-token: write

jobs:
  build-and-deploy:
    name: Build and Deploy Storybook
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: pnpm/action-setup@v4.2.0

      - uses: actions/setup-node@v6.0.0
        with:
          node-version-file: package.json
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Storybook
        run: pnpm run build:storybook

      - name: Upload storybook static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: apps/storybook/dist/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
